$text: hsl(192, 20%, 5%);
$bg-1: hsl(195, 25%, 97%);
$primary: #7198a2;
$secondary: #a9b2c7;
$accent: #8e91d1;
$accent-1: #c3c5f7;
$info: $accent;
$dangerous: hsl(355, 66%, 80%);
$dangerous-dark: hsl(355, 60%, 65%);
$dangerous-darker: hsl(355, 75%, 45%);
$warning: hsl(45, 80%, 90%);
$warning-dark: hsl(45, 80%, 65%);
$warning-darker: hsl(45, 90%, 45%);

$linear-primary-secondary: linear-gradient($primary, $secondary);
$linear-primary-accent: linear-gradient($primary, $accent);
$linear-secondary-accent: linear-gradient(125deg, $secondary, $accent);
$radial-primary-secondary: radial-gradient($primary, $secondary);
$radial-primary-accent: radial-gradient($primary, $accent);
$radial-secondary-accent: radial-gradient($secondary, $accent);

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-1;
}

.show {
  display: block;
}

.dropdown-toggle {
  cursor: pointer;

  &::after {
    all: unset !important;
  }
}

.dropdown-menu {
  left: -40px;

  &.show {
    padding: 0;
  }
}

.dropdown-item {
  cursor: pointer;

  a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.table-responsive {
  position: relative;
  overflow-x: auto;
}

tr {
  position: relative;
  scroll-snap-align: start;
}

.table td {
  vertical-align: middle;
}

button.delete {
  background-color: $dangerous;

  &:hover {
    background-color: $dangerous-dark;
  }

  &:active {
    background-color: $dangerous-darker;
  }
}

h1.title {
  font-weight: bolder !important;
  color: $primary;
}

.text-semibold {
  font-weight: 500 !important;
}

span.input-group-text {
  cursor: pointer;
  color: $accent;

  &:hover {
    background-color: hsl(195, 0%, 95%);
  }

  &:active {
    background-color: hsl(195, 0%, 90%);
  }
}

.input-error {
  border: 2px solid $dangerous-darker !important;
}

.input-error:focus {
  border: 2px solid $dangerous-darker !important;
}

.input-success {
  border: 2px solid hsl(120, 36%, 59%) !important;
}

.input-success:focus {
  border: 2px solid hsl(120, 36%, 59%) !important;
}

.password-error {
  border: 2px solid $dangerous-darker !important;
  border-left-width: 0 !important;
  transition: all 0.15s ease-in-out;
}

.password-error:focus {
  border: 2px solid $dangerous-darker !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-success {
  border: 2px solid hsl(120, 36%, 59%) !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-success:focus {
  border: 2px solid hsl(120, 36%, 59%) !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-toggle-icon {
  transition: all 0.05s ease-in-out;
}

// .user-header,
// .user-info {
//    display: none;
// }

.user-details {
  display: block;
  text-align: left;

  strong {
    display: block;
    font-size: 1rem;
  }

  .user-email {
    font-size: 0.875rem;
    color: gray;
  }
}

.vr-hr {
  display: inline-block;
  align-self: stretch;
  width: var(--bs-border-width);
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
  padding: 0;
}

.alert {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  font-size: 1rem;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 3s ease-in forwards;
}

.modal-title {
  flex: 1;
}

.modal-content {
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.75),
    rgba(236, 236, 236, 0.65)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.31);
  --blur: 1.5px;
  backdrop-filter: blur(var(--blur)) saturate(180%);
  -webkit-backdrop-filter: blur(var(--blur)) saturate(180%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  --bs-modal-header-border-color: transparent;
  --bs-modal-footer-border-color: transparent;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}

@keyframes floatBtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-btn {
  box-shadow: 0 4px 8px 2px rgba(31, 31, 31, 0.31);
  animation: floatBtn 2s ease-in-out both infinite;
}

.btn-submit-primary:hover {
  background-color: $primary !important;
}

.fit-content {
  width: fit-content !important;
}

.th-actions {
  width: 10px !important;
}

.side-btn {
  position: absolute;
  right: -10px;
  top: calc(50vh - 16px);
  z-index: 1000;
  width: 32px;
  height: 32px;
  background-color: $accent;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.side-btn {
  &:hover {
    background-color: $accent;
    color: hsl(189, 4%, 33%);
  }

  &:active {
    background-color: $secondary !important;
    color: hsl(187, 4%, 51%) !important;
  }
}

.side-btn.to-left {
  transform: rotate(180deg) !important;
}

.sidebar-header {
  height: 24px !important;
  &.active {
    background-color: unset !important;
    color: $bg-1 !important;

    &:hover {
      // background-color: $accent-1;
      color: $text !important;
    }
  }
}

span.hidden {
  display: none;
}

aside.sidebar {
  transition: all 0.3s ease;
  &.collapse {
    width: 84px !important;
    transition: all 0.3s ease;
  }
  .nav-link {
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      // background-color: $accent-1;
      color: $bg-1 !important;
    }
  }
  li.nav-item {
    .nav-link {
      color: $text;

      &.active {
        background-color: $bg-1;
        color: $primary;

        &:hover {
          // background-color: $accent-1;
          color: $text !important;
        }
      }

      i {
        font-size: 1.25em !important;
      }
    }
  }
}

.w-16px {
  width: 35px !important;
}

.p-25 {
  padding: 0.75rem !important;
}

@media screen and (max-width: 767px) {
  .vr-hr {
    display: block;
    box-sizing: border-box;
    min-height: unset;
    max-width: 100%;
    width: 91%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .email-header,
  .name-header,
  .user-info-md {
    display: none;
  }

  .user-header,
  .user-info {
    display: table-cell;
  }
}
