$text: hsl(192, 83%, 7%);
$text-grey: hsl(0, 0%, 36%);
$bg-1: hsl(195, 80%, 98%);
$bg-2: hsl(195, 31%, 95%);
$primary: hsl(197, 84%, 54%);
$primary-faded: hsl(197, 45%, 67%);
$primary-faded2: hsl(197, 25%, 77%);
$secondary: hsl(310, 83%, 74%);
$accent: hsl(346, 83%, 63%);
$accent-1: hsl(345, 100%, 81%);
$accent-faded: hsl(346, 24%, 88%);
// $info: $accent;
$dangerous: hsl(355, 66%, 80%);
$dangerous-dark: hsl(355, 60%, 65%);
$dangerous-darker: hsl(355, 75%, 45%);
$warning: hsl(45, 90%, 45%);
$warning-light: hsl(45, 80%, 90%);
$warning-dark: hsl(45, 80%, 65%);

$linear-primary-secondary: linear-gradient($primary, $secondary);
$linear-primary-accent: linear-gradient(to right, $accent, $accent-1);
$linear-secondary-accent: linear-gradient(125deg, $secondary, $accent);
$radial-primary-secondary: radial-gradient($primary, $secondary);
$radial-primary-accent: radial-gradient($primary, $accent);
$radial-secondary-accent: radial-gradient($secondary, $accent);

@import "../../node_modules/bootstrap/scss/bootstrap";
/*
//  in bootstrap.scss after helpers and before utilities api:
// $utilities: map-merge(
//   $utilities,
//   (
//     "font-size":
//       map-merge(
//         map-get($utilities, "font-size"),
//         (
//           responsive: true,
//         )
//       ),
//   )
// );
//
*/

* {
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  .col-lg-05 {
    flex: 0 0 auto;
    width: 5.5555555555%;
  }
}

@media (min-width: 1200px) {
  .col-xl-05 {
    flex: 0 0 auto;
    width: 4.1666667%;
  }
}

body {
  background-color: $bg-1;
}

.bg-1 {
  background-color: $bg-1;
}

.bg-2 {
  background-color: $bg-2;
}

.show {
  display: block;
}

.dropdown-toggle {
  cursor: pointer;

  &::after {
    all: unset !important;
  }
}

.dropdown-menu {
  left: -40px;

  &.show {
    padding: 0;
  }
}

.dropdown-item {
  cursor: pointer;

  a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

table.users-table {
  background-color: $bg-1 !important;

  // td {
  //   // background-color: $accent-faded !important;
  // }

  // tr:nth-of-type(odd) > td {
  //   // background-color: $bg-2 !important;
  // }
}

.table-responsive {
  position: relative;
  overflow-x: auto;
}

tr {
  position: relative;
  scroll-snap-align: start;
}

.table td {
  vertical-align: middle;
}

button.delete {
  color: $dangerous-dark;

  &:hover {
    color: $dangerous-darker;
  }

  &:active,
  &:focus-visible {
    color: $dangerous !important;
    padding: 0 !important;
    outline: none !important;
  }
}
button.edit {
  color: $info;

  &:hover {
    color: hsl(190, 90%, 40%);
  }

  &:active,
  &:focus-visible {
    color: hsl(190, 65%, 55%) !important;
    padding: 0 !important;
    outline: none !important;
  }
}

h1.title {
  font-weight: bolder !important;
  color: $primary;
}

.text-semibold {
  font-weight: 500 !important;
}

span.input-group-text {
  cursor: pointer;
  color: $accent;

  &:hover {
    background-color: hsl(195, 0%, 95%);
  }

  &:active {
    background-color: hsl(195, 0%, 90%);
  }
}

.input-error {
  border: 2px solid $dangerous-darker !important;
}

.input-error:focus {
  border: 2px solid $dangerous-darker !important;
}

.input-success {
  border: 2px solid hsl(120, 36%, 59%) !important;
}

.input-success:focus {
  border: 2px solid hsl(120, 36%, 59%) !important;
}

.password-error {
  border: 2px solid $dangerous-darker !important;
  border-left-width: 0 !important;
  transition: all 0.15s ease-in-out;
}

.password-error:focus {
  border: 2px solid $dangerous-darker !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-success {
  border: 2px solid hsl(120, 36%, 59%) !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-success:focus {
  border: 2px solid hsl(120, 36%, 59%) !important;
  border-left-width: 0 !important;
  transition: all 0.05s ease-in-out;
}

.password-toggle-icon {
  transition: all 0.05s ease-in-out;
}

// .user-header,
// .user-info {
//    display: none;
// }

.user-details {
  // display: block;
  text-align: left;

  strong {
    display: block;
    font-size: 1rem;
  }

  .user-email {
    font-size: 0.875rem;
    color: gray;
  }
}

.vr-hr {
  display: inline-block;
  align-self: stretch;
  width: var(--bs-border-width);
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
  padding: 0;
}

.alert {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  font-size: 1rem;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 3s ease-in forwards;
}

.modal-title {
  flex: 1;
}

.modal-content {
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.75),
    rgba(236, 236, 236, 0.65)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.31);
  --blur: 1.5px;
  backdrop-filter: blur(var(--blur)) saturate(180%);
  -webkit-backdrop-filter: blur(var(--blur)) saturate(180%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  --bs-modal-header-border-color: transparent;
  --bs-modal-footer-border-color: transparent;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}

@keyframes floatBtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  box-shadow: 0 3px 8px 0px hsla(197, 89%, 28%, 0.562);
  animation: floatBtn 2s ease-in-out both infinite;
}

.go-to-profile {
  &:hover {
    background-color: hsl(197, 84%, 74%) !important;
  }
  &:active {
    background-color: $primary !important;
  }
}

.text-primary-accent,
.text-primary-accent::before {
  background: $linear-primary-accent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floating-btn {
  box-shadow: 0 4px 8px 2px rgba(31, 31, 31, 0.31);
  animation: floatBtn 2s ease-in-out both infinite;
  background-color: $primary-faded !important;
  &:hover {
    background-color: $primary !important;
  }
}

.back-btn {
  background-color: hsl(210, 14%, 83%);
  &:hover {
    background-color: hsl(210, 14%, 63%);
  }
  &:active {
    background-color: hsl(210, 14%, 43%) !important;
  }
  &:focus-visible {
    background-color: hsl(210, 14%, 63%) !important;
  }
}

.btn-submit-accent:hover {
  background-color: $accent-1 !important;
}

.fit-content {
  width: fit-content !important;
}

.th-actions {
  width: 10px !important;
}

.side-btn {
  position: absolute;
  right: -16px;
  top: calc(50vh - 16px);
  z-index: 1000;
  width: 32px;
  height: 32px;
  background-color: $bg-2;
  color: $text !important;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.side-btn {
  &:hover {
    background-color: hsl(195, 11%, 75%);
    color: $text;
  }

  &:active {
    background-color: hsl(195, 11%, 55%) !important;
  }
}

.side-btn.to-left {
  transform: rotate(180deg) !important;
}

.sidebar-header {
  height: fit-content !important;
  max-height: 100px !important;
  &.active {
    background-color: $accent-faded !important;
    color: $text !important;
    opacity: 1 !important;

    &:hover {
      // background-color: $accent-1;
      opacity: 1;
    }
  }
}

span.hidden {
  display: none;
}

.text-accent {
  color: $accent !important;
}

aside.sidebar {
  min-width: fit-content;

  .nav-link {
    color: $text;
    opacity: 0.7;
    // transition: color 0.2s ease, background-color 0.2s ease;

    i {
      color: $accent;
    }

    &:hover {
      // background-color: $accent-1;
      color: $text !important;
      opacity: 1;
    }
  }
  li.nav-item {
    .nav-link {
      color: $text;

      i {
        color: $accent;
      }

      &:hover {
        // background-color: $accent-1;
        box-shadow: 0 0 4px 0 $accent-1;
        color: $text !important;
        opacity: 1;
      }

      &.active {
        background-color: $accent-faded;
        font-weight: 500;
        opacity: 1;

        &:hover {
          // background-color: $accent-1;
          color: $text-grey !important;

          i {
            opacity: 0.7;
          }
        }
      }

      // i {
      //   font-size: 1.25em !important;
      // }
    }
  }
}

.w-16px {
  width: 35px !important;
}

.mw-75 {
  max-width: 75% !important;
}

.p-25 {
  padding: 0.75rem !important;
}

.border-accent {
  border-color: $accent-1 !important;
}
.border-accent-shadow {
  border-color: $accent-faded !important;
  box-shadow: 0 0 4px 0px $accent-faded;
  transition: all 0.2s ease;

  &.hoverable {
    &:hover {
      border-color: $accent-faded !important;

      box-shadow: 0 0 8px 0px $accent;
    }
  }
}
.border-primary {
  border-color: $primary-faded !important;
}
.border-primary-shadow {
  border-color: $primary-faded2 !important;
  box-shadow: 0 3px 8px 0px $primary-faded2;
}

select.form-select:focus {
  border-color: $accent-1 !important;
  box-shadow: 0 0 0 0.25rem hsla(345, 117%, 61%, 0.25) !important;
}

.limit-danger {
  border-color: $dangerous-dark !important;
  box-shadow: 0 0 0 0.25rem hsla(355, 75%, 45%, 0.25) !important;
}

.limit-warning {
  border-color: $warning-dark !important;
  box-shadow: 0 0 0 0.25rem hsla(45, 90%, 45%, 0.25) !important;
}

.resize-none {
  resize: none;
}

.outline-none {
  outline: none !important;
}

@media screen and (max-width: 767px) {
  .vr-hr {
    display: block;
    box-sizing: border-box;
    min-height: unset;
    max-width: 100%;
    width: 91%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .email-header,
  .name-header,
  .user-info-md {
    display: none;
  }

  .user-header,
  .user-info {
    display: table-cell;
  }

  aside.sidebar {
    min-width: unset;
    position: fixed;
    z-index: 9999;
    // transform: unset;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

    &.collapsed {
      box-shadow: unset;
      // transform: translateX(-100%);
      left: -100%;
      > *:not(.sidebar-btn) {
        display: none;
      }
      .sidebar-btn {
        // transform: translateX(350%);
        // right: 20%;
        position: fixed;
        left: 0;
        right: 0 !important;
      }
    }
    .side-btn {
      display: none;
    }
  }
  // .side-btn {
  //   display: inline-block !important;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  // }
  .sidebar-btn {
    // display: inline-block !important;
    position: absolute;
    right: 5px !important;
    top: 5px;
    z-index: 1000;
    width: 32px;
    height: 32px;
    margin: 5px;
    color: $accent;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
  }

  .sidebar-btn {
    &:hover {
      color: hsl(345, 60%, 61%);
    }

    &:active {
      color: hsl(345, 60%, 41%) !important;
    }
  }

  .w-0 {
    width: 0 !important;
    flex: unset !important;
  }
}
